@charset "UTF-8";

table{
	margin : 0 auto;
	width: 700px;
	height: 300px;
	border-collapse: collapse;
}

th{
	height : 30px;
	background-color: #EF9A9A;
	border: 4px dotted;
	border-color: #90CAF9;
}

td{
	/* background-color :#FFCDD2; */
	text-align: center;
	border-bottom: 2px solid;
	border-color:#00ACC1;
}

#td1{
	width: 10%;
}
#td2{
	width: 20%;
}

.title{
	text-align: justify;
}

tr:hover{
	background-color: #FFCDD2;
	font-weight: bolder;
}